@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --primary-color: black;
    --gray: #9CA3AF;
    --offwhite: #F3F4F6;
}

body {
    
    font-family: 'Pangolin', cursive;
    font-size: large;
    background: rgba(46, 47, 52, 0.41);
}

hr {
    margin: 3rem 0rem;
}

/* center container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.primary-link {
    background-color: red;
    color: white;
}

.secondary-link {
    color: red;
    border: 1px solid var(--primary-color)
}

/* BEM naming convention for CSS */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color:rgba(46, 47, 52, 0.41);
    color: white;
    padding: 1rem;
   
}

.navigation .nav-pills {
    text-align: bold;
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--primary-color);
    padding-top: 1rem;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/*section */

.section {
    padding: 2rem;
}

/* .section h1 {
    text-align: center;
    
} */



.ob {
    background-color: black;
}

.ow {
    background-color: #F3F4F6;
}


footer {
    background-color: white;
    padding: 3rem    ;
    border-bottom-right-radius: 1rem;
    text-align: center;
    color: black;
    border-bottom-left-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer ul{
    padding-inline-start: 0px
}

